{% extends "::userbase.html.twig" %}

{% block body %}
<div class="about">
    <h1>Aplankyk muziejus!!!</h1>
    <p>Tai NFQ komandos Meridian projektas, skirtas skatinti žmones lankytis muziejuose.</p>
</div>
{% endblock %}