{% extends "::userbase.html.twig" %}

{% block body %}
    <h2>Pradinis puslapis</h2>
    <h5>Sveikas {{ app.user }} , Smagu, kad sugrįžai </h5>
    <a href="{{ path("meridian_core_game") }}">Tęsti žaidimą!!!</a>
    {#{% render url('meridian_core_game') %}#}
{% endblock %}
