{% extends "::userbase.html.twig" %}

{% block body %}
    <h1>Sveiki, {{ app.user }}.</h1>
    <h2>Smagu, kad sugrįžai. </h2>
    <a href="{{ path("meridian_core_game") }}">Tęsti žaidimą!!!</a>
    {#{% render url('meridian_core_game') %}#}
{% endblock %}
