{% extends "::userbase.html.twig" %}
{% block body %}
    <h1>Šiuo metu nėra daugiau aktyvių žaidimų!</h1>
    <h2>Užsuk vėliau!</h2>
    <h2 class="question">Tu jau esi: {{ level }} lygyje!</h2>
{% endblock %}