
{% trans_default_domain 'FOSUserBundle' %}
{% block body %}
<form action="{{ path('fos_user_profile_edit') }}" {{ form_enctype(form) }} method="POST" class="fos_user_profile_edit">
    {{ form_widget(form) }}
    {#<div>#}
        <input class="btn btn-danger square-btn-adjust border-radius0" type="submit" value="{{ 'profile.edit.submit'|trans }}" />
    {#</div>#}
</form>

{% endblock %}