{% extends "::base.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block body %}
    <p>{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</p>
        <p><a href="{{ path ('welcome_page') }}">{{ 'registration.back'|trans }}</a></p>
{% endblock %}
