{% extends "::admin.html.twig" %}
{% block title %} New Page{% endblock %}
{% block body %}
    <div class="container">
        <h1>Create New Game</h1>
        {{ form(form, {attr:{novalidate: 'novalidate' }}) }}
        <a href="{{ path("admin_home_page") }}">Grįžti atgal</a>
    </div>
{% endblock %}