{% extends '::base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Game #{{ game.id }} <a href="#">Pridėti klausimus</a></h1>
        <h2>{{ game.name }}</h2>

        <p>{{ game.description }}</p>
        <a href="{{ path('admin_home_page') }}">Grįžti į pagrindinį</a>
    </div>
{% endblock %}