{% extends "::demobase.html.twig" %}

{% block title %}MeridianCoreBundle:Demo:index{% endblock %}

{% block body %}
    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="flash-notice">
            {{ flashMessage }}
        </div>
    {% endfor %}
    <h2>Welcome to {{ game }}!!!</h2>
    <h2>Klausimas: {{ question }} </h2>
    {{ form(answerForm) }}
{% endblock %}
